<div class="container">
    <h2> Currency Converter </h2>
    <form [formGroup]="form" class="form-content">
        <div>
            <label for="baseMoney" class="form-label">Base Money         
                <span style="color: red;" *ngIf="form.get('baseMoney').errors?.required">*</span>
            </label>
            <input type="number" formControlName="baseMoney" class="form-control" placeholder="0">
        </div>
        <div>
            <label for="base" class="form-label">Base
                <span style="color: red;" *ngIf="form.get('base').errors?.required">*</span>
                <!-- <span style="color: red;" *ngIf="form.get('email').errors?.email">Email is invalid</span> -->
            </label>
            <input formControlName="base" class="form-control" placeholder="THB">
        </div>
        <div>
            <label for="convertBase" class="form-label">Convert Base
                <!-- <span style="color: red;" *ngIf="form.get('convertBase').errors?.required">*</span> -->
            </label>
            <input formControlName="convertBase" class="form-control" placeholder="USD">
        </div>
        <div>
            <label class="form-label">Result</label>
            <input class="form-control" disabled placeholder="{{ result }}">
        </div>
        <button class="btn btn-primary" [disabled]="form.invalid" (click)="convert()" >Convert</button>
    </form>
</div>
